/* REGOLE GENERALI */
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

.white-char{
    color: #fff;
}

.blue-char {
    color: #2c3e50;
}

/* padding ad aprire e chiudere ogni sezione */
.section-padding-top{
    padding-top: 9rem;
}

.section-padding-bottom{
    padding-bottom: 9rem; /* WARNING: se cambia questo cambia anche il padding bottom dell'ultima immagine della sezione portfolio*/
}

/* separatore dei titoli */
.section-title > h1{
    font-size: 6rem;
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
}
.section-title > h2{
    font-size: 5rem;
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
}

.separator{
    margin: 1.5rem 0 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator-icon{
    font-size: 3rem;
}

.separator-line{
    width: 100%;
    max-width: 10rem;
    height: 0.35rem;
    border-radius: 1rem;
}

.separator-line-left{
    margin-right: 2rem;
}

.separator-line-right{
    margin-left: 2rem;
}

.separator-line-blue{
    background-color: #2c3e50;
}

.separator-line-white{
    background-color: #fff;
}




/* HEADER */
/* NAVBAR SECTION*/
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
/* BS navbar */
/* cambio sfonfo */
#navbar{
    background-color: #2c3e50;
}

#navbar .navbar-default {
    background-color: transparent;
    border: none;
}

/* cambio margini e padding */
#navbar .navbar {
    margin-bottom: 0;
    padding: 2.5rem 0;
    line-height: 100%
}

/* cambio testo */
#navbar .navbar-default .navbar-brand,
#navbar .navbar-right > li > a {
    color: #fff;
    white-space: nowrap;
    font-weight: 700;
}

#navbar .navbar-default .navbar-brand{
    font-size: 2.5rem;
}

#navbar .navbar-right > li > a{
    font-size: 1.8rem;
}

/* link navbar right cambiano colore */
#navbar .navbar-right > li > a:hover{
    color: #1abc9c;;
}



/* JUMBOTRON SECTION */
#jumbotron{
    background-color: #1abc9c;
    text-align: center;
}

#jumbotron img{
    width: 25rem;
    margin-bottom: 4rem;
}

#jumbotron p{
    font-size: 2.2rem;
}



/* MAIN */
/* PORTFOLIO SECTION */
/* tutto il testo centrato */
#portfolio figure{
    padding: 0 calc(2.5rem - 15px) 5rem calc(2.5rem - 15px);
}

/* do lo stesso margine divisore della classe section-margin-bottom */
#portfolio div:last-child > figure{
    padding-bottom: 9rem;
}

#portfolio img, .ms_overlay_container {
    margin: auto;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 1rem;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.ms_overlay_container{
    position: relative;
    background-color: #1abc9c;
}

#portfolio .ms_overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#portfolio .ms_overlay_container:hover img {
    opacity: 0.2;
}

#portfolio .ms_overlay_container:hover .ms_overlay {
    opacity: 1;
}

.ms_add {
    color: white;
    font-size: 7.5rem;
}




/* ABOUT SECTION */
#about{
    background-color: #1abc9c;
}

/* DEBUG:  */
#about .section-title{
    height: 250px;
    border: 1px solid black;
    margin: 0 -15px 0 -15px;
}

/* DEBUG:  */
#about [class*="col-"]{
   height: 250px;
   border: 1px solid black;
}

/* DEBUG:  */
#download_button{
    height: 100px;
    border: 1px solid black;
    margin: 0 -15px 0 -15px;
}


/* CONTACTS SECTION */
/* DEBUG:  */
#contacts .section-title{
    height: 250px;
    border: 1px solid black;
    margin: 0 -15px 0 -15px;
}

/* DEBUG:  */
#contacts form{
    height: 500px;
    border: 1px solid black;
    margin: 0 -15px 0 -15px;
}



/* FOOTER */
/* FOOTER LINKS */
#footer-links{
    background-color: #2c3e50;
}

/* DEBUG:  */
#footer-links [class*="col-"]{
   height: 250px;
   border: 1px solid black;
}


/* FOOTER COPYRIGHT */
#footer-copyright{
    background-color: #1a252f;
    /* DEBUG:  */
    height: 100px;
}
