/* REGOLE GENERALI */

/* DEBUG:  */
[class*="col-"]{
    height: 100px;
    background-color: #FF000050;
    border: 1px solid black;
}
.section-title{
    height: 100px;
    background-color: #FF000080;
    border: 1px solid black;
}
#download_button{
    height: 100px;
    background-color: #FF000080;
    border: 1px solid black;
}
form{
    height: 100px;
    background-color: #FF000080;
    border: 1px solid black;
}
#footer-copyright{
    height: 100px;
    background-color: #FF000080;
    border: 1px solid black;
}
